/*** Variables ***/

// Colours
$white			: #FFF;
$gray			: #e8e8e8;
$black			: #000;
$light 			: #eee;
$dark 			: #2B364A;

$peach			: #ecd7db;
$pink			: #a84768;
$blue			: #eee;
$christalle		: #eee;
$blackberry		: #eee;
$purple			: #eee;
$brown			: #372828;
$teal			: #3FB8AF;

$grad1			: #5d1a42;
$grad2			: #ac0b40;
$grad3			: #c02340;
$gradient		: $grad1 0%, $grad2 75%, $grad3 100%;

$teal1			: #3fb8af;
$teal2			: #3f85b8;
$tealgrad		: $teal1 0%, $teal2 75%;

$purp1			: #ab0768;
$purp2			: #9c07ab;
$purpgrad		: $purp1 0%, $purp2 75%;

$pink1			: #FF3D7F;
$pink2			: #AB0768;
$pinkgrad		: $pink1 0%, $pink2 75%;


// Typography
$main-font		: "montserrat", Helvetica, Arial, sans-serif;
$header-color	: $dark;
$text-color		: $dark;
$link-color		: $dark;
$link-hover		: darken($dark, 10%);
