/*** Base Mobile Stylesheet ***/

html {
	font-size: 10px !important;
}

body {
	font-family: $main-font;
	@include font-size(1.6);
	font-weight: 700;
	@include line-height(1.8);
	color: $text-color;
	background-color: $blue;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/** Links **/
a {
	color: $link-color;
	text-decoration: none;

	&:hover, &:focus {
		color: $link-hover;
		text-decoration: underline;
	}

	&:active {}

	// mobile tap color
	&:link {
		-webkit-tap-highlight-color : $link-hover;
	}
}

/** Paragraphs **/
p {
	@include font-size(1.6);
	@include line-height(1.8);
	@include margin(0, 0, 1.8, 0);
}

/** Headlines **/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	font-weight: 900;
	line-height: 1;
	@include margin(2, 0, 2, 0);
	padding: 0;

	a {
		text-decoration: none;
	}
}

h1, .h1 {
	@include font-size(5);
	@include line-height(4);
}

h2, .h2 {
	@include font-size(3.6);
	@include line-height(3.4);
}

h3, .h3 {
	@include font-size(2.8);
	@include line-height(2.8);
}

h4, .h4 {
	@include font-size(1.8);
	@include line-height(1.6);
}

h5, .h5 {
	@include font-size(1.6);
	@include line-height(1.6);
}

/** Navigation **/
.nav {
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		display: inline-block;
		padding: 0 11px;
		@include padding(0, 1.1, 0, 1.1);

		a {
			color: rgba($white, 0.4);
			@include padding(0.4, 0.4, 0.4, 0.4);
			transition: color 0.2s ease-in;

			&:hover, &:focus {
				color: rgba($white, 0.8);
				text-decoration: none;
			}
		}

		&:first-child {
			padding-left: 0;
		}
		&:last-child {
			padding-right: 0;
		}
	}
}

/** Content Wrapping **/
.wrap {
	@include max-width(96); // Must move this to the desktop breakpoint
	width: 96%;
	margin: 0 auto;
}

/** Header Styles **/
#header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	@include padding(4, 5, 4, 5);
	z-index: 0;
	opacity: 0;
	transition: opacity 0.2s ease-in, z-index 0.01s linear, background-color 0.2s ease-in;

	#logo {
		float: left;
		display: block;

		svg {
			display: block;
			@include width(18.8);
			@include height(3.5);

			path {
				fill: rgba($white, 0.4);
				transition: fill 0.2s ease-in;
			}
		}

		&:hover, &:focus {
			.svg {
				path {
					fill: rgba($white, 0.8);
				}
			}
		}
	}

	#main-nav {
		float: right;
		@include padding(0.9, 0, 0.8, 0);
	}

	&.appear {
		z-index: 100;
		opacity: 1;
	}

	&.bg-blue {
		background-color: $blue;
	}
	&.bg-christalle {
		background-color: $christalle;
	}
	&.bg-blackberry {
		background-color: $blackberry;
	}
	&.bg-purple {
		background-color: $purple;
	}
	&.bg-brown {
		background-color: $brown;
	}
}

/** Main Styles **/
.main-section {
	display: flex;
	align-items: center;
	min-height: 100vh;
	text-align: center;
	overflow-x: hidden;
	@include padding(4, 0, 4, 0);
	position: relative;
	z-index: 10;
}

.main-header {

	.main-image {
		background: linear-gradient(150deg, $gradient);
		@include width(48);
		@include height(48);
		margin: 0 auto;
		@include margin-bottom(-4.8);
		border-radius: 50%;

		svg {
			@include width(30);
			@include height(30);
			@include margin(9, 9, 9, 9);
		}
	}

	.main-title {
		text-transform: uppercase;
		color: $header-color;
	}
}

.main-content {
	margin: 0 auto;
}

.main-actions {

}

/** Page Styles **/

#intro {
	background: linear-gradient(330deg, $gradient);
	color: $peach;

	.main-header {

		#brand {
			background-image: url("../img/brand-under.png");
			background-position: center top;
			background-repeat: no-repeat;
			@include background-size(53.5, 10);

			svg {
				@include height(10);

				path {
					fill: $peach;
				}
			}
		}

		#slogan {
			text-transform: uppercase;
		}
	}

	.main-content {
		max-width: 480px;

		p {
			font-weight: 900;
			@include font-size(1.6);
			@include line-height(1.6);
			text-transform: uppercase;
		}
	}
}

#page1 {
	background-color: $blue;

	.main-header {
		svg path {
			fill: $blue;
		}
	}

	.main-content {
		max-width: 480px;
	}
}

#page2 {
	background-color: $christalle;

	.main-header {
		svg path {
			fill: $christalle;
		}
	}

	.main-content {
		max-width: 480px;
	}
}

#page3 {
	background-color: $blackberry;

	.main-header {
		svg path {
			fill: $blackberry;
		}
	}

	.main-content {
		max-width: 500px;
	}
}

#page4 {
	background-color: $purple;

	.main-header {
		svg path {
			fill: $purple;
		}
	}

	.main-content {
		max-width: 500px;
	}
}

#page5 {
	background-color: $brown;

	.main-header {
		svg path {
			fill: $brown;
		}
	}

	.main-content {
		max-width: 550px;
	}
}

/** Footer Style **/
#footer {
	background: url("../img/dot.svg") center top repeat-y, linear-gradient(150deg, $gradient);

	.footer-link {
		display: block;
		width: 50%;
		margin: 0;
		@include padding(5.4, 3, 5.4, 3);
		color: $peach;
		text-transform: uppercase;
		transition: color 0.2s ease-in;

		&:hover, &:focus {
			text-decoration: none;
			color: $white;
		}
	}

	.footer-left {
		float: left;
		text-align: right;
	}

	.footer-right {
		float: right;
		text-align: left;
	}
}
